%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;

  @media only screen and (max-width: $bp-nine) {
    font-size: 4rem;
  }
  @media only screen and (max-width: $bp-mini) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $bp-fini) {
    font-size: 2rem;
  }
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  @media only screen and (max-width: $bp-mini) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $bp-fin) {
    font-size: 2rem;
  }
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-nine) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: $bp-kini) {
    font-size: 1rem;
  }
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  @media only screen and (max-width: $bp-fini) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: $bp-fin) {
    font-size: 1rem;
  }

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-dark;
  }
  @media only screen and (max-width: $bp-nine) {
    padding: 1.5rem 2rem;
  }
  @media only screen and (max-width: $bp-kini) {
    padding: 1.2rem;
  }
  @media only screen and (max-width: $bp-fin) {
    padding: 1rem;
    font-size: 1rem;
  }
}

.mb-sm {
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-kini) {
    margin-bottom: 1rem;
  }
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
